<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% posts.forEach(post => { %>
                <li>
                    <h2><%= post.name %></h2>
                    <h5><%= post.tagline %></h5>
                    <h5><%= post.id %></h5>
                    <img src="<%= post.image_url %>">
                    <p><%= post.description %></p>
                    <small><%= post.first_brewed %></small>
                </li>
           <%  }) %>
    </div>
</body>
</html>